/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Etiquetas semanticas*/
h1 {
  color: #112c01;
  background-color: #9bbbb0;
  opacity: 0.85;
  text-decoration: underline overline;
  z-index: 2;
  font-size: 40px;
  padding: 3px; }

h2 {
  font-size: 30px;
  color: #112c01;
  margin-bottom: 20px;
  grid-area: titulo;
  padding-left: 10px; }
  h2 .titulo {
    grid-area: titulo; }

a {
  text-decoration: none;
  color: #112c01; }

body {
  background-color: #9bbbb0; }

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  font-family: "Cormorant SC", serif;
  width: 100%;
  height: 270px;
  background-image: url("../img/sierras2.png");
  background-position: center center;
  background-size: cover;
  grid-area: header; }

footer {
  display: flex;
  align-content: flex-start;
  background-color: #7A918D;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-area: footer;
  position: absolute absolute;
  bottom: 0%; }
  footer h3 {
    padding-left: 30px; }

/*Grids*/
.grid, .grid-ubicacion {
  height: 100vh;
  width: 100%;
  display: grid;
  background-position: center center; }

.grid-ubicacion {
  background-color: #9bbbb0;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "header"
 "menu"
 "titulo"
 "subtitulo"
 "descripcion"
 "mapa"
 "footer"; }

/*Clases*/
.menu {
  display: flex;
  background-color: #9bbbb0;
  justify-content: flex-end;
  flex-wrap: wrap;
  z-index: 10;
  width: 100%;
  opacity: 80%;
  position: sticky;
  top: 0;
  grid-area: menu; }
  .menu .container-fluid {
    background-color: #9bbbb0;
    height: 30px; }
  .menu .nav-link {
    transition: color 0.5s, background-color 1s; }
    .menu .nav-link:hover {
      color: #112c01;
      background-color: #d7dfdc8f; }

.subtitulo {
  grid-area: subtitulo;
  padding: 30px 15px 0 10px; }

.descripcion {
  grid-area: descripcion;
  padding-left: 10px; }

.mapa {
  display: flex;
  grid-area: mapa;
  grid-column: 1 / 3;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }

/*320px*/
@media screen and (max-width: 320px) {
  .grid-ubicacion {
    grid-template-columns: auto;
    grid-template-rows: auto; }
  h1 {
    font-size: 130%; }
  header {
    height: 100px; }
  .menu {
    justify-content: flex-end;
    opacity: 1; }
    .menu .navbar {
      background-color: #9bbbb0; }
      .menu .navbar .container-fluid {
        background-color: #9bbbb0; }
        .menu .navbar .container-fluid .navbar-brand {
          font-size: 17px; }
        .menu .navbar .container-fluid .navbar-toggler {
          position: relative;
          right: 5px;
          width: 25px;
          height: 25px;
          color: #58887f; }
          .menu .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
            position: relative;
            right: 5px;
            bottom: 5px;
            width: 15px;
            height: 15px; }
        .menu .navbar .container-fluid .navbar-nav {
          opacity: 1;
          background-color: #f5f8f8;
          font-size: 15px; }
          .menu .navbar .container-fluid .navbar-nav .nav-link {
            padding-left: 10px; }
  h2 {
    font-size: 20px;
    margin-bottom: 0; }
  .subtitulo {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 0px; }
  .descripcion h4 {
    font-size: 15px;
    padding-right: 5px; }
  .descripcion p {
    font-size: 12px; }
  .mapa-embebido {
    width: 80%;
    height: 300px; }
  footer h3 {
    font-size: 15px; } }

/*600px*/
@media screen and (min-width: 321px) and (max-width: 600px) {
  .grid-ubicacion {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  h1 {
    font-size: 180%; }
  header {
    height: 100px; }
  .menu {
    justify-content: flex-end;
    opacity: 1; }
    .menu .navbar {
      background-color: #9bbbb0; }
      .menu .navbar .container-fluid {
        background-color: #9bbbb0; }
        .menu .navbar .container-fluid .navbar-brand {
          font-size: 17px; }
        .menu .navbar .container-fluid .navbar-toggler {
          position: relative;
          right: 5px;
          width: 25px;
          height: 25px;
          color: #58887f; }
          .menu .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
            position: relative;
            right: 5px;
            bottom: 5px;
            width: 15px;
            height: 15px; }
        .menu .navbar .container-fluid .navbar-nav {
          opacity: 1;
          background-color: #f5f8f8;
          font-size: 15px; }
          .menu .navbar .container-fluid .navbar-nav .nav-link {
            padding-left: 10px; }
  h2 {
    font-size: 25px; }
  .subtitulo {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 0; }
  .descripcion {
    font-size: 12px;
    padding-right: 5px; }
    .descripcion p {
      font-size: 17px; }
  iframe {
    width: 80%;
    height: 500px; }
  footer {
    font-size: 15px; } }
