$size-h: 15px;
$toggler-color: #c6dad6;
$bg-color: #cadbc0;
$nav-bg-color: #f5f8f8;
$row-color: #acd197b6;

@mixin menu{
    justify-content: flex-end;
    opacity: 1;
}

@mixin navbar-toggler{
    position: relative;
    right: 5px;
    width: 25px;
    height: 25px;
    color: $toggler-color;
}

@mixin navbar-toggler-icon{
    position: relative;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
}

@mixin navbar-nav{
    opacity: 1;
    background-color: $nav-bg-color;
    font-size: $size-h;
}

/*320px*/
@media screen and (max-width: 320px){

    .grid-galeria {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "header"
            "menu"
            "titulo"
            "fotos"
            "footer";
    }

    .fotos {
        grid-template-columns: auto auto;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6";
        gap: 5px;
        margin: 0 20px 5px 5px;
    }

    .carousel-estadia{
        .carousel-inner{
            .carousel-item{
                @include sizes(150px, 100%);
                img{
                    @include sizes(150px, 350px);
                    object-fit: cover;
                }
            }
        }
    }

    .tablas-paseos{
        display: none;
    }

    .paseitos {
        display: contents;
        width: 100%;
        .carousel-indicators {
            filter: invert(100%);
            position: relative;
            top: 280px;
        }
        .carousel-inner{
            .carousel-item {
                @include sizes(250px, 95%);
                position: absolute absolute;
                left: 35px;
            }
        }
        .carousel-control-prev {
            filter: invert(100%);
            position: absolute absolute;
            top: 1900px;
        }
        .carousel-control-next {
            filter: invert(100%);
            position: absolute absolute;
            top: 1900px;
            right: 0;
        }
    }

    h1{
        font-size: 130%;
    }

    header{
        height: 100px;
    }

    .container{
        width: 95%;
        padding: 3px;
    }

    .col{
        margin: 3px
    }

    .row{
        margin: 5px;
    }

    .menu{
        @include menu;
        .navbar{
            background-color: $bg-color;
            .container-fluid {
                background-color: $bg-color;
                .navbar-brand {
                    font-size: $size-h;
                }
                .navbar-toggler {
                    @include navbar-toggler;
                    .navbar-toggler-icon {
                        @include navbar-toggler-icon;
                    }
                }
                .navbar-nav {
                    @include navbar-nav;
                    .nav-link {
                        padding-left: 10px;
                    }
                }
            }
        }  
    }

    .eslogan h3{
        font-size: $size-h;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    h2{
        font-size: 25px;
        padding: 10px 0px 10px 20px;
        margin-bottom: 0;
    }

    h3{
        font-size: $size-h;
        font-weight: 600;
    }

    h4{
        font-size: 20px;
        font-weight: 500;
    }

    .subtitulo{
        font-size: 20px;
        padding-left: 10px;
        padding-top: 0px;
        font-weight: 600;
        color: $color-titulos;
    }

    .tarjetas{
        display: none;
    }

    .carousel-inicio {
        display: contents;
        @include sizes(250px, 90%);
        .carousel-indicators {
            filter: invert(100%);
            position: relative;
            top: 300px;
        }
        .carousel-item {
            left: 15px;
            width: 90%;
            img {
                height: 250px;
            }
            .carousel-caption {
                position: absolute;
                left: 0;
                bottom: 0;
                @include sizes(100%, 100%);
                text-align: left;
                opacity: 0.8;
                color: $transparente;
                background-color: $transparente;
                transition: color 0.8s, background-color 1s;
                &:hover {
                    background-color: $card-color;
                    color: black;   
                }
                h5{
                    display: flex;
                    font-size: 25px;
                    justify-content: flex-start;
                    padding-bottom: 10px;
                    color: $color-titulos;
                    width: 50%;
                    border-radius: 10px;
                    background-image: linear-gradient(to right, $card-color, $transparente);
                }
                p{
                    padding-left: 5px;
                }
            }
        }
        .carousel-control-prev {
            filter: invert(100%);
            position: absolute absolute;
            top: 1750px;
        }
        .carousel-control-next {
            filter: invert(100%);
            position: absolute absolute;
            top: 1750px;
        }
    }

    .paseo1, .paseo2, .paseo3 {
        @include sizes(110px, 230px);
    }

    .descripcion{
        h4{
            font-size: $size-h;
            padding-right: 5px;
        }
        p {
            font-size: 12px;
        }
    }

    .info{
        @include sizes(50px, 100%);
        background-color: rgba(240, 255, 255, 0.432);
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        p{
          font-size: $size-h;
          position: relative;
          top: 5px;
          padding: 0 5px 0 5px;
        }
    }

    .mapa-embebido{
        @include sizes(250px, 100%);
    }

    footer {
        margin-top: 50px;
    }

    .col-xs-6{
        img{
            @include sizes(130px, 200px);
            padding-bottom: 5px;
        }
    }

    .col-xs-4{
        width: 300px;
        padding-left: 5px;
        .card{
            margin-top: 10px;
            height: 200px;
            .card-description{
                p{
                    font-size: $size-h;
                }
                h3 {
                    padding-left: 5px;
                    font-size: $size-h+10;
                    width: 80%;
                }
            }
        }
    }

    .container{
        h3{
            padding-bottom: 15px;
        }
    }

    .row{
        background-color: $row-color;
        margin-bottom: 15px;
        padding: 5px;
        text-align: center;
    }
}

/*600px*/
@media screen and (min-width: 321px) and (max-width: 600px){

    .tablas{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "cabania1 cabania2"
            "cabania3 cabania3";
        gap: 20px;
        padding: 10px;
    }

    h1{
        font-size: 200%;
    }

    header{
        height: 100px;
    }

    .carousel-estadia{
        .carousel-inner{
            .carousel-item{
                @include sizes(200px, 100%);
                img{
                    @include sizes(200px, 450px);
                    object-fit: cover;
                }
            }
        }
    }

    .paseitos {
        display: contents;
        width: 100%;
        .carousel-indicators {
            filter: invert(100%);
            position: relative;
            top: 330px;
        }
        .carousel-inner{
            .carousel-item {
                @include sizes(280px, 95%);
                position: absolute absolute;
                left: 130px;
            }
        }
        .carousel-control-prev {
            filter: invert(100%);
            position: absolute absolute;
            top: 1600px;
        }
        .carousel-control-next {
            filter: invert(100%);
            position: absolute absolute;
            top: 1600px;
            right: 0;
        }
    }

    .tabla1{
        position: absolute absolute;
        left: 300px;
    }

    .tablas-paseos{
        display: none;
    }

    .menu{
        @include menu;
        .navbar{
            background-color: $bg-color;
            .container-fluid {
                background-color: $bg-color;
                .navbar-brand {
                    font-size: $size-h+2;
                }
                .navbar-toggler {
                    @include navbar-toggler;
                    .navbar-toggler-icon {
                        @include navbar-toggler-icon;
                    }
                }
                .navbar-nav {
                    @include navbar-nav;
                    .nav-link {
                        padding-left: 10px;
                    }
                }
            }
        }  
    }

    .eslogan h3{
        font-size: $size-h + 5;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    .paseo1, .paseo2, .paseo3 {
        @include sizes(150px, 250px);
    }

    .card{
        height: 200px;
        .card-description {
            p{
                font-size: $size-h + 5;
            }
            h3 {
                padding-left: 5px;
                font-size: $size-h+10;
                width: 50%;
            }
        }
    }

    .col-xs-2{
        width: 50px;
    }

    .col-xs-4{
        width: 150px;
        .card{
            .card-description{
                p{
                    font-size: 12px;
                }
                h3 {
                    padding-left: 5px;
                    font-size: $size-h+5;
                    width: 80%;
                }
            }
        }
    }
    
    .col-xs-6{
        width: 225px;
        img{
            @include sizes(140px, 200px);
        }
    }

    .col-xs-8{
        width: 400px;
        img{
            @include sizes(200px, 250px);
        }
    }

    .col-xs-10{
        width: 200px;
    }

    .row{
        h3{
            font-size: $size-h+10;
            font-weight: 600;
        }
        h4{
            font-size: $size-h+5;
            font-weight: 500;
        }
        p{
            font-size: $size-h - 1;
        }
    }

    h2{
        font-size: $size-h+20;
        padding: 20px 0px 20px 20px;
    }

    .subtitulo{
        font-size: $size-h+5;
        padding-left: 10px;
        padding-top: 0;
    }

    .descripcion{
        font-size: 12px;
        padding-right: 5px;
        p{
            font-size: $size-h+2;
        }
    }

    .info{
        @include sizes(70px, 100%);
        background-color: rgba(240, 255, 255, 0.432);
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        p{
          font-size: $size-h+5;
          position: relative;
          top: 10px;
          padding: 0 5px 0 5px;
        }
    }

    .mapa-embebido{
        @include sizes(400px, 100%);
    }

    footer{
        margin-top: 10px;
        font-size: $size-h;
    }
}