$size-h: 15px;
$toggler-color: #58887f;
$bg-color: #9bbbb0;
$nav-bg-color: #f5f8f8;


@mixin menu{
    justify-content: flex-end;
    opacity: 1;
}

@mixin navbar-toggler{
    position: relative;
    right: 5px;
    width: 25px;
    height: 25px;
    color: $toggler-color;
}

@mixin navbar-toggler-icon{
    position: relative;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
}

@mixin navbar-nav{
    opacity: 1;
    background-color: $nav-bg-color;
    font-size: $size-h;
}

/*320px*/
@media screen and (max-width: 320px){

    .grid-estadia {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 200px auto auto auto;
    }

    .tablas{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "cabania1"
            "cabania2"
            "cabania3";
        gap: 20px;
        padding: 10px;
    }

    .tablas-paseos{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "paseo1"
            "paseo2"
            "paseo3";
        gap: 20px;
        padding: 10px;
    }

    .grid-galeria {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "header"
            "menu"
            "titulo"
            "fotos"
            "footer";
    }

    .fotos {
        grid-template-columns: auto auto;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6";
        gap: 5px;
        margin: 0 20px 5px 5px;
    }

    .grid-ubicacion{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .carousel-estadia{
        grid-area: carousel;
        padding-left: 25px;
        .carousel-inner{
            .carousel-item{
                width: 95%;
                height: 200px;
                img{
                    width: 350px;
                    height: 150px;
                    object-fit: cover;
                }
            }
        }
    }

    h1{
        font-size: 130%;
    }

    header{
        height: 100px;
    }

    .menu{
        @include menu;
        .navbar{
            background-color: $bg-color;
            .container-fluid {
                background-color: $bg-color;
                .navbar-brand {
                    font-size: 17px;
                }
                .navbar-toggler {
                    @include navbar-toggler;
                    .navbar-toggler-icon {
                        @include navbar-toggler-icon;
                    }
                }
                .navbar-nav {
                    @include navbar-nav;
                    .nav-link {
                        padding-left: 10px;
                    }
                }
            }
        }  
    }

    .eslogan h3{
        font-size: $size-h;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    h2{
        font-size: 20px;
        padding: 20px 0px 10px 20px;
        margin-bottom: 0;
    }

    .subtitulo{
        font-size: $size-h;
        padding-left: 10px;
        padding-top: 0px;
    }

    main{
        display: none;
    }

    .carousel-inicio {
        display: contents;
        width: 90%;
        height: 250px;
        .carousel-indicators {
            position: absolute absolute;
            top: 360px;
        }
        .carousel-item {
            margin: 10px;
            width: 95%;
            img {
                height: 250px;
            }
            .carousel-caption {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                text-align: left;
                opacity: 0.8;
                color: $transparente;
                background-color: $transparente;
                transition: color 0.8s, background-color 1s;
                &:hover {
                    background-color: $card-color;
                    color: black;   
                }
                h5{
                    display: flex;
                    font-size: 25px;
                    justify-content: flex-start;
                    padding-bottom: 10px;
                    color: $color-titulos;
                    width: 50%;
                    border-radius: 10px;
                    background-image: linear-gradient(to right, $card-color, $transparente);
                }
                p{
                    padding-left: 5px;
                }
            }
        }
        .carousel-control-prev {
            position: absolute;
            top: 100px;
        }
        .carousel-control-next {
            @extend .carousel-control-prev;
        }
    }

    .cabania1, .cabania2, .cabania3, .paseo1, .paseo2, .paseo3 {
        width: 230px;
        height: 110px;
    }

    .video-embebido {
        width: 80%;
        height: 200px;
    }

    .descripcion{
        h4{
            font-size: $size-h;
            padding-right: 5px;
        }
        p {
            font-size: 12px;
        }
    }

    .mapa-embebido{
        width: 80%;
        height: 300px;
    }

    footer {
        margin-top: 50px;
        h3{
        font-size: $size-h;
        }
    }
}

/*600px*/
@media screen and (min-width: 321px) and (max-width: 600px){

    .grid-estadia {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 300px auto auto auto;
    }

    .tablas{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "cabania1 cabania2"
            "cabania3 cabania3";
        gap: 20px;
        padding: 10px;
    }

    .tablas-paseos{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "paseo1 paseo2"
            "paseo3 paseo3";
        gap: 20px;
        padding: 10px;
    }

    .grid-ubicacion{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    h1{
        font-size: 200%;
    }

    header{
        height: 100px;
    }

    .carousel-estadia{
        grid-area: carousel;
        padding-left: 45px;
        .carousel-inner{
            .carousel-item{
                width: 90%;
                height: 300px;
                img{
                    width: 450px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
    }

    .menu{
        @include menu;
        .navbar{
            background-color: $bg-color;
            .container-fluid {
                background-color: $bg-color;
                .navbar-brand {
                    font-size: 17px;
                }
                .navbar-toggler {
                    @include navbar-toggler;
                    .navbar-toggler-icon {
                        @include navbar-toggler-icon;
                    }
                }
                .navbar-nav {
                    @include navbar-nav;
                    .nav-link {
                        padding-left: 10px;
                    }
                }
            }
        }  
    }

    .eslogan h3{
        font-size: $size-h + 5;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    .paseo1, .paseo2, .paseo3 {
        width: 250px;
        height: 150px;
    }

    .video-embebido {
        width: 80%;
        height: 300px;
    }

    .card{
        height: 200px;
        .card-description {
            p{
                font-size: $size-h + 5;
            }
            h3 {
                padding-left: 5px;
                font-size: 25px;
                width: 50%;
            }
        }
    }

    .col-xs-4{
        width: 100px;
        img{
            width: 150px;
            height: 100px;
        }
    }
    
    .col-xs-6{
        width: 225px;
        img{
            width: 200px;
            height: 140px;
        }
    }

    .col-xs-8{
        width: 400px;
    }

    .row{
        h4{
            font-size: $size-h;
        }
        p{
            font-size: 12px;
        }
    }

    h2{
        font-size: 35px;
        padding: 30px 0px 20px 30px;

    }

    .subtitulo{
        font-size: 20px;
        padding-left: 10px;
        padding-top: 0;
    }

    .descripcion{
        font-size: 12px;
        padding-right: 5px;
        p{
            font-size: 17px;
        }
    }

    iframe{
        width: 80%;
        height: 500px;
    }

    footer{
        margin-top: 10px;
        font-size: $size-h;
    }
}