/*Variables*/
$bg-color: #9bbbb0;
$color-titulos: rgb(17, 44, 1);
$size-h1: 50px;
$size-h2: 40px;
$font-header: 'Cormorant SC', serif;
$footer-color: #7A918D;
$color-boton: #d7dfdc8f;
$transparente: rgba(0, 0, 0, 0);
$card-color: azure;


@mixin sizes($height, $width) {
    height: $height;
    width: $width;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clases template*/
.grid-template {
    @include sizes(100vh, 100%);
    display: grid;
    background-position: center center;
}

.tabla-template {
    width: 300px;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

.tablas-template{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
    padding: 20px 20px;
}

.img-template{
    @include sizes(300px, 300px);
    background-position: cover;
}

.foto-template{
    background-position: center center;
    background-size:cover;
}

/*Etiquetas semanticas*/
h1 {
    color: $color-titulos;
    background-color: $bg-color;
    opacity: 0.85;
    text-decoration: underline overline;
    z-index: 2;
    font-size: $size-h1;
    padding: 3px;
}

h2 {
    font-size: $size-h2;
    color: $color-titulos;
    padding: 40px 0px 20px 80px;
    grid-area: titulo;
    .titulo{
        grid-area: titulo;
    }
}

a {
    text-decoration: none;
    color: $color-titulos;
}

body {
    background-color: $bg-color;
}

main{
    background-color: rgba(240, 255, 255, 0.801);
    .container{
        @include sizes(100vh, 100%);
    }
    padding-bottom: 10px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    font-family: $font-header;
    width: 100%;
    height: 270px;
    background-image: url('../img/sierras2.png');
    background-position: center center;
    background-size: cover;
    grid-area: header;
}

footer {
    display: flex;
    align-content: flex-start;
    background-color: $footer-color;
    margin-top: 10px;
    padding-bottom: 10px;
    grid-area: footer;
    position: absolute absolute;
    bottom: 0%;
    h3{
        padding-left: 30px;
    }
}

table {
    border: solid 1px $color-titulos;
}

th {
    @extend table;
    padding-right: 10px;
    background-color: #959aa0;
}

td {
    @extend table;
    padding-right: 10px;
    text-align: center;
    background-color: $card-color;
}

/*Grids*/

.grid-ubicacion {
    @extend .grid-template;
    background-color: $bg-color;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
        "header"
        "menu"
        "titulo"
        "subtitulo"
        "descripcion"
        "mapa"
        "footer";
}

.grid-estadia {
    @extend .grid-template;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 400px auto auto auto;
    grid-template-areas: 
        "header"
        "menu"
        "titulo"
        "carousel"
        "subtitulo"
        "tablas"
        "footer";
}

.tablas {
    @extend .tablas-template;
    grid-template-areas: 
        "cabania1 cabania2 cabania3";
    grid-area: tablas;
}

.grid-paseos {
    @extend .grid-template;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: 
        "header"
        "menu"
        "titulo"
        "descripcion"
        "video"
        "subtitulo"
        "tablas-paseos"
        "footer";
}

.tablas-paseos {
    @extend .tablas-template;
    grid-template-areas: 
        "paseo1 paseo2 paseo3";
    grid-area: tablas-paseos;
}

.grid-galeria {
    @extend .grid-template;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 600px auto;
    grid-template-areas: 
        "header"
        "menu"
        "titulo"
        "fotos"
        "footer";
}

.fotos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "foto1 foto1 foto2 foto2"
        "foto1 foto1 foto3 foto4"
        "foto5 foto5 foto6 foto6"
        "foto5 foto5 foto6 foto6";
    gap: 5px;
    margin: 0 30px 10px 10px;
    justify-self: center;
    width: 70%;
}

/*Clases*/

.col-md-4{
    img{
        width: 300px;
        height: 240px;
    }
}

.explorar{
    margin-top: 70px;
}

.row{
    margin: 30px;
}

.col{
    margin: 10px
}

.menu {
    display: flex;
    background-color: $bg-color;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
    grid-area: menu;
    .container-fluid {
        background-color: $bg-color;
        height: 30px;
    }
    .nav-link {
        transition: color 0.5s, background-color 1s;
        &:hover{
            color: $color-titulos;
            background-color: $color-boton;
        }
    }

}

.eslogan{
    padding-left: 10px;
    margin-bottom: 10px;
    grid-area: eslogan;
}

.card{
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    p{
        font-size: 20px;
    }
}

.card-estadia {
    height: 300px;
    grid-area: cabania;
    background-image: url("../img/cabania.jpg");
    @extend .card;
}

.card-paseos {
    height: 300px;
    grid-area: paseos;
    background-image: url("../img/paseo.jpg");
    @extend .card;
}

.card-galeria {
    height: 400px;
    grid-area: galeria;
    background-image: url("../img/sierras3.jpg");
    @extend .card;
}

.card-description {
    display: grid;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $transparente;
    opacity: 80%;
    font-size: $size-h2;
    justify-content: center;
    align-items: center;
    color: $transparente;
    transition: color 0.8s, background-color 0.8s;
    &:hover {
        background-color: $card-color;
        color: black;
    }
    h3 {
        font-size: $size-h2;
        width: 45%;
        border-radius: 10px;
        background-image: linear-gradient(to right, $card-color, $transparente);
    }
}

.carousel-inicio {
    display: none;
}

.carousel-estadia{
    grid-area: carousel;
    padding-left: 200px;
    .carousel-inner{
        .carousel-item{
            width: 80%;
            height: 400px;
            img{
                width: 800px;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}

.subtitulo {
    grid-area: subtitulo;
    padding: 30px 15px 0 10px;
}

.descripcion {
    grid-area: descripcion;
    padding-left: 10px;
}

.info{
    width: 100%;
    height: 100px;
    background-color: rgba(240, 255, 255, 0.432);
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    p{
      font-size: 30px;
      position: relative;
      top: 20px;
    }
}

.cabania1 {
    @extend .tabla-template;
    background-image: url("../img/cabania1.jpg");
    grid-area: cabania1;
}

.cabania2 {
    @extend .tabla-template;
    background-image: url("../img/cabania2.jpg");
    grid-area: cabania2;
}

.cabania3 {
    @extend .tabla-template;
    background-image: url("../img/cabania3.jpg");
    grid-area: cabania3;
}

.paseo1 {
    @extend .tabla-template;
    background-image: url("../img/paseo1.jpg");
    grid-area: paseo1;
}

.paseo2 {
    @extend .tabla-template;
    background-image: url("../img/paseo2.jpg");
    grid-area: paseo2;
}

.paseo3 {
    @extend .tabla-template;
    background-image: url("../img/paseo3.jpg");
    grid-area: paseo3;
}

.mapa {
    display: flex;
    grid-area: mapa;
    grid-column: 1 / 3;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.video {
    grid-area: video;
    padding-left: 20px;
}


.foto1 {
    @extend .foto-template;
    background-image: url("../img/estancia-las-grutas.jpg");
    grid-area: foto1;
}

.foto2 {
    @extend .foto-template;
    background-image: url("../img/las-grutas.jpg");
    grid-area: foto2;
}

.foto3 {
    @extend .foto-template;
    background-image: url("../img/las-grutas2.jpg");
    grid-area: foto3;
}

.foto4 {
    @extend .foto-template;
    background-image: url("../img/cabania1.jpg");
    grid-area: foto4;
}

.foto5 {
    @extend .foto-template;
    background-image: url("../img/paseo.jpg");
    grid-area: foto5;
}

.foto6 {
    @extend .foto-template;
    background-image: url("../img/sierras3.jpg");
    grid-area: foto6;
}

@import "responsive";